.App {
  text-align: center;
}

.App__counter {
  margin: 20px;
  font-size: 30px;
  color: darkgreen;
}

button {
  padding: 8px;
  font-size: 16px;
  color: #000;
}

.button--inc {
  background-color: darkolivegreen;
  color: white;
}

.button--dec {
  background-color: red;
  color: white;
}
